<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=00BoKeW8Bm">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=00BoKeW8Bm">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=00BoKeW8Bm">
    <link rel="manifest" href="/site.webmanifest?v=00BoKeW8Bm">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=00BoKeW8Bm" color="#000000">
    <link rel="shortcut icon" href="/favicon.ico?v=00BoKeW8Bm">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#eeeeee">    
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap"
      rel="stylesheet"
    />
    <style>
      <%= htmlWebpackPlugin.options.globalStyle %>
    </style>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
